// ==========================================================================
// Config
// ==========================================================================

// Font Stacks

$font-url--google          : "http://fonts.googleapis.com/css?family=Lato:300,400,700";
$font-family--primary      : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights

$font-weight--light        : 300;
$font-weight--normal       : 400;
$font-weight--bold         : 700;

// Descriptive Base Colors

// Color Usage

// Breakpoints

$break--tiny               : 320px;
$break--extra-small        : 480px;
$break--small              : 768px;
$break--medium             : 992px;
$break--large              : 1200px;
$break--extra-large        : 1500px;
