// ==========================================================================
// Config
// ==========================================================================

// Font Stacks

$font-url--google          : "http://fonts.googleapis.com/css?family=Lato:300,400,700";
$font-family--primary      : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights

$font-weight--light        : 300;
$font-weight--normal       : 400;
$font-weight--bold         : 700;


// responsive
$phone: "max-width: 450px";
$half-sm: "max-width: 550px";
$sm: "max-width: 767px";
$md: "max-width: 991px";
$lg: "max-width: 1199px";
$xlg: "max-width: 1299px";
$xxlg: "max-width: 1499px";
